.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  padding: 16px;
  font-family: arial, sans-serif;
}
.Weather h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 100;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

.Weather .temperature {
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
  font-weight: 400;
  color: rgb(33, 33, 33);
}

.Weather canvas {
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}

.WeaterTemperature .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  text-decoration: none;
}
.WeaterTemperature .unit a {
  text-decoration: none;
}
